/* Google Fonts: EB Garamond & Poppins Link */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins&display=swap");

/*------- Basic Utilities -------*/
h1 {
  font-family: "EB Garamond", serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  color: #414040;
  font-weight: 800;
}
p,
a {
  font-family: "Poppins", sans-serif;
  color: #707070;
}
section,
footer {
  margin-top: 120px;
}
.legal-primary-button {
  background-color: #b68c5a;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
  color: #ffffff;
  height: 64px;
  padding: 18px 29px;
  border-radius: 8px;
}
.legal-primary-button:hover {
  background-color: #c08b4b;
  color: #ffffff;
}

/*------- Header Section Styles-------*/
/* Banner Portion Styles */
.banner {
  background-image: url("../images/banner.png");
  height: 550px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*------- Legal Practice Area Section Styles-------*/
.legal-practice-area-card:hover {
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
  border: 1px solid #e7e7e7;
}

/*------- Clients Say Section Styles------- */
.legal-slider-bg-img {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
