/* Google Fonts: EB Garamond & Poppins Link */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins&display=swap");

/*------- Basic Utilities -------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}
p,
a {
  font-family: "Poppins", sans-serif;
  color: #707070;
}
.legal-primary-button {
  background-color: #b68c5a;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
  color: #ffffff;
  height: 64px;
  padding: 18px 29px;
  border-radius: 8px;
}
.legal-primary-button:hover {
  background-color: #c08b4b;
}

/*------- Header Section Styles-------*/
/* Banner Portion Styles */
.banner {
  background-image: url("../images/banner.png");
  height: 550px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
